webrtc/node_modules/
server.key
server.cert
webrtc/package-lock.json
__pycache__
gym_collab.egg-info

# Pycharm local config
.idea/

# ai-controller execution logs
ai_controller/logs

#tdw log
simulator/tdw_log.txt
